.image-detail {
  width: 15%;
  height: 15%;
  margin: 15px 15px 15px 15px;
  float: left;
}

.image-detail-center {
  width: 15%;
  height: 15%;
  margin: 15px 15px 15px 15px;
}

.image-comic {
  width: 100%;
  height: 200px;
  background-size: cover;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.paragraph {
  text-align: justify;
  margin: 0px 4% 0px 0;
}

input {
  display: none;
}
input + label {
  display: inline-block;
}
input ~ .tab {
  display: none;
}
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2 {
  display: block;
  width: 95%;
  float: left;
  height: 20%;
}

input + label {
  border: 1px solid #999;
  background: #eee;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
  float: left;
}
input:checked + label {
  background: #fff;
  border-bottom: 1px solid transparent;
}
input ~ .tab {
  border-top: 1px solid #999;
  padding: 12px;
}

/* this is for the new cards */

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

ul li {
  display: inline-block;
  opacity: 1;
  border: 10px solid #fff;
  position: relative;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  -moz-box-shadow: 0px 0px 5px 4px #ccc;
  -webkit-box-shadow: 0px 0px 5px 4px #ccc;
  box-shadow: 0px 0px 5px 4px #ccc;
}
ul li,
ul li div {
  background: #999;
  text-align: center;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

.divulli {
  background: #bf1a1a;
  position: absolute;
  top: 80%;
  width: 100%;
  height: 40px;
  color: #ffffff;
  font-size: 1.2em;
  border-radius: 0px 0px 25px 25px;
}
