.image-detail {
  width: 15%;
  height: 15%;
  margin: 15px 15px 15px 15px;
  float: left;
}

.image-detail-center {
  width: 15%;
  height: 15%;
  margin: 15px 15px 15px 15px;

}

.image-comic {
  width: 100%;
  max-width: 400px;
  height: auto;
  float: left;
  margin: 0 15px 0 15px;
}

.paragraph {
  text-align: justify;
  margin: 0px 4% 0px 0;
}

input {
  display: none;
} /* hide radio buttons */
input + label {
  display: inline-block;
} /* show labels in line */
input ~ .tab {
  display: none;
} /* hide contents */
/* show contents only for selected tab */
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2 {
  display: block;
  width: 95%;
  float: left;
  height: 20%;
}

input + label {
  /* box with rounded corner */
  border: 1px solid #999;
  background: #eee;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
  float: left;
}
input:checked + label {
  /* white background for selected tab */
  background: #fff;
  border-bottom: 1px solid transparent;
}
input ~ .tab {
  /* grey line between tab and contents */
  border-top: 1px solid #999;
  padding: 12px;
}

